body {
    background-color: #F8F6F5;
    font-family: 'Montserrat', sans-serif;
}

.recallContainer {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
}

#language {
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #eee;
}

.btn {
    background: rgb(248, 100, 100);
}

.active {
    background-color: teal;
}

.recallID {
    color: burlywood;
}

.recallTitle {
    font-weight: bold;
}

.panelContainer {
    display: none;
}

.input-field label,
label {
    font-size: 20px;

}

.panelTitle {
    color: red;
    font-weight: bold;
    font-size: 30px;
}