body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
/* BANNER STYLE */
.slider h3,
.slider h5 {
  color: #fff;
  font-weight: 900;
}

/* SEARCH AND RESULTS STYLE */
select option {
  background-color: #0277bd;
  color: #fff;
}

.content {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
}
#resultsContainer {
  min-height: 50px;
  padding: 20px 0;
}
.recallContainer {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fffbee;
  color: #666;
}
.recallContainer img {
  max-width: 100%;
}
#language {
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
}

.btn {
  background: rgb(248, 100, 100);
}

.active,
.btn:hover {
  background-color: #0277bd;
}

.recallID {
  font-weight: bold;
}
.recallID::before {
  content: "Recall ID : ";
  color: red;
}
.recallTitle {
  font-weight: bold;
}

.panelContainer {
  display: none;
}

label {
  font-size: 25px;
  margin: 20px;
  color: #444;
}
select,
.btn {
  margin: 20px;
  max-width: fit-content;
}
.panelTitle {
  color: red;
  font-weight: bold;
  font-size: 30px;
}
